body {
  background-image: url(/metronic/dist/html/theme8/assets/demo/theme8/media/img/bg/bg-7.jpg);
}
.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link * {
  color: #c7b2d3 !important;
}
@media (max-width: 1024px) {
  body.m-header--fixed.m-topbar--on #m_header_topbar {
    margin-top: 50px;
  }
  .m-topbar--on .m-topbar {
    display: table !important;
  }
}
.m-header-menu-wrapper div.m-menu__submenu.m-menu__submenu--tabs {
  box-shadow: 0px 4px 30px -4px rgba(0, 0, 0, 0.07);
}
.m-topbar__notifications .m-dropdown__arrow:before {
  color: #7e56db;
}
.m-topbar__user-profile .m-dropdown__arrow:before {
  color: #7948e0;
}
body.m-page--wide .m-wrapper {
  box-shadow: none !important;
}
div.m-menu__submenu.m-menu__submenu--classic.m-menu__submenu--tabs.m-menu__submenu--left > span.m-menu__arrow {
  left: 72px !important;
}