<div [@routerTransition]>
    <div class="m-login__head">
        <h3 class="m-login__title">
            {{"PaymentInfo" | localize}}
        </h3>
    </div>

    <form class="register-form" method="post" asp-action="PaymentResult" id="formPaymentResult">
        <div class="text-center m--margin-bottom-20">{{"Upgrade_Edition_Description" | localize:edition.displayName}}</div>

        <hr />

        <div class="form-actions" *ngIf="hasRecurringSubscription()">
            <div class="form-group row">
                <label class="col-sm-12 control-label">{{"RecurringSubscriptionUpgradeNote" | localize}}</label>
            </div>
        </div>

        <div class="form-actions" *ngIf="!hasRecurringSubscription()">
            <div class="form-group row">
                <label class="col-sm-8 control-label">{{"Total" | localize}}</label>
                <div class="col-sm-4 text-right">
                    <p class="m--font-bold" id="totalPrice">
                        {{additionalPrice}}
                    </p>
                </div>
            </div>
        </div>

        <div *ngFor="let paymentGateway of paymentGateways" class="form-group">
            <button (click)="checkout(paymentGateway.gatewayType)" class="btn btn-success btn-block">{{"CheckoutWith" + getPaymentGatewayType(paymentGateway.gatewayType) | localize}}</button>
        </div>
    </form>
</div>
