@media (max-width: 1024px) {
  .m-topbar--on .m-topbar {
    display: table !important;
  }
}
.m-header-menu-wrapper div.m-menu__submenu.m-menu__submenu--tabs {
  box-shadow: 0px 4px 30px -4px rgba(0, 0, 0, 0.07);
}
.m-topbar__notifications .m-dropdown__arrow:before {
  color: #7e56db;
}
.m-topbar__user-profile .m-dropdown__arrow:before {
  color: #7948e0;
}
div.m-menu__submenu.m-menu__submenu--classic.m-menu__submenu--left > span.m-menu__arrow {
  left: 74px !important;
}